<div id="sidebar-wrapper" class="" style="height: 100%">
  <ul class="nav flex-column">
    <li class="nav-item"><a  class="nav-link" style="padding-bottom: 0;">Clients</a></li>
    <li class="nav-item ms-2"><a  class="nav-link" style="padding-bottom: 0; padding-top: 0">Add Client</a></li>
    <li class="nav-item "><a  class="nav-link" style="padding-bottom: 0;">Orders</a></li>
    <li class="nav-item ms-2"><a  class="nav-link" style="padding-bottom: 0; padding-top: 0">Add Order</a></li>
    <li class="nav-item"><a  class="nav-link">Error</a></li>
  </ul>
</div>
