<div id="app-container" class="position-relative">
  <app-header></app-header>
  <div class="d-flex flex-grow-1 position-relative">
    <app-sidebar class="bg-dark-subtle"></app-sidebar>
    <div id="page-content-wrapper" class="bg-light" style="flex-grow: 1;">
    coucou
    </div>
  </div>
  <div class="position-relative" style="position: relative">
    <footer class="bg-dark d-flex align-items-center" style="height: 100px;">
      <p class=" text-center text-light flex-grow-1 m-0">&copy; 2023 CRM PRO. Tous droits réservés.</p>
    </footer>
  </div>
</div>
